<div class="card">
  <div class="card-body">
    <h3 class="box-title m-b-20">Formulário Cinético-funcional</h3>
    <form class="form-horizontal form-material d-flex flex-row"
          style="flex-wrap: wrap"
          [formGroup]="form"
          (keyup)="onUpdateForm()">

      <div class="col-md-6">
        <h5>Queixa principal e funcional</h5>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Diagnóstico clínico</label>
            <input class="form-control"
                   formControlName="clinicalDiagnosis"
                   name="clinicalDiagnosis"
                   type="text"
                   required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Queixa principal</label>
            <input class="form-control"
                   formControlName="mainComplaint"
                   name="mainComplaint"
                   type="text"
                   required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Queixa funcional</label>
            <input class="form-control"
                   formControlName="functionalComplaint"
                   name="functionalComplaint"
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h5>História clínica e funcional do paciente</h5>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">História clínica</label>
            <input class="form-control"
                   formControlName="clinicalHistory"
                   name="clinicalHistory"
                   type="text"
                   required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">História funcional</label>
            <input class="form-control"
                   formControlName="functionalHistory"
                   name="functionalHistory"
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Planejamento de testes físico-funcionais</h5>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Estrutura e função</label>
            <input class="form-control"
                   formControlName="structureFunction"
                   name="structureFunction"
                   type="text"
                   required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Atividade e participação</label>
            <input class="form-control"
                   formControlName="activityParticipation"
                   name="activityParticipation"
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Resultados do teste físico-funcional</h5>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Resultado do teste físico-funcional</label>
            <input class="form-control"
                   formControlName="functionalPhysicalResult"
                   name="functionalPhysicalResult"
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Resultados dos exames complementares</h5>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Resultado dos exames complementares</label>
            <input class="form-control"
                   formControlName="complementaryResult"
                   name="complementaryResult"
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h5>Diagnóstico funcional-cinético</h5>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Deficiência</label>
            <input class="form-control"
                   formControlName="disability"
                   name="disability"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Limitação de atividade</label>
            <input class="form-control"
                   formControlName="activityLimitation"
                   name="activityLimitation"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Restrição de participação</label>
            <input class="form-control"
                   formControlName="participationRestriction"
                   name="participationRestriction"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Fatores ambientais</label>
            <input class="form-control"
                   formControlName="ambientalFactor"
                   name="ambientalFactor"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Objetivos funcionais</label>
            <input class="form-control"
                   formControlName="functionalGoals"
                   name="functionalGoals"
                   type="text"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Plano terapêutico</label>
            <input class="form-control"
                   formControlName="therapeuticalPlan"
                   name="therapeuticalPlan"
                   type="text"
                   required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Data de reavaliação</label>
            <input class="form-control"
                   formControlName="date"
                   name="date"
                   type="date"
                   required>
          </div>
        </div>
      </div>


      <div class="form-group text-center p-b-20 col-md-12">
        <div class="col-xs-12">
          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                  [disabled]="this.disableForm"
                  (click)="onSave()"
                  >Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
