<div class="tab-pane" id="profile" role="tabpanel">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-xs-6 b-r">
        <strong>Nome</strong>
        <br>
        <p class="text-muted">Johnathan Doe</p>
      </div>
      <div class="col-md-3 col-xs-6 b-r">
        <strong>CPF</strong>
        <br>
        <p class="text-muted">{{ '000.000.000-00' }}</p>
      </div>
      <div class="col-md-3 col-xs-6 b-r">
        <strong>Telefone</strong>
        <br>
        <p class="text-muted">(12) 7456 7890</p>
      </div>
      <div class="col-md-3 col-xs-6 b-r">
        <strong>E-mail</strong>
        <br>
        <p class="text-muted">johnathan@admin.com</p>
      </div>
    </div>
  </div>
</div>

