<div class="card">
  <div class="card-body">
    <h3 class="box-title m-b-20">Escala de equilíbrio de BERG</h3>
    <form class="form-horizontal form-material d-flex flex-row" style="flex-wrap: wrap">

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Posição sentada para posição em pé</h4>
        <p>Instrução: Por favor, levante-se. Tente não usar suas mãos para se apoiar. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="leva1" name="leva" class="custom-control-input">
          <label class="custom-control-label" for="leva1">capaz de levantar-se sem utilizar as mãos e estabilizar-se independentemente</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="leva2" name="leva" class="custom-control-input">
          <label class="custom-control-label" for="lev2">capaz de levantar-se independentemente utilizando as mãos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="lev3" name="lev" class="custom-control-input">
          <label class="custom-control-label" for="lev3">capaz de levantar-se utilizando as mãos após diversas tentativas </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="lev4" name="lev" class="custom-control-input">
          <label class="custom-control-label" for="lev4">necessita de ajuda mínima para levantar-se ou estabilizar-se </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="lev5" name="lev" class="custom-control-input">
          <label class="custom-control-label" for="lev5">necessita de ajuda moderada ou máxima para levantar-se </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer em pé sem apoio</h4>
        <p>Instrução: Por favor, fique em pé por 2 minutos sem se apoiar.</p>
        <p>Se o paciente for capaz de permanecer em pé por 2 minutos sem apoio, dê o número total de pontos o item Nº 3. Continue com o item N°4. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoioPe1" name="semApoioPe" class="custom-control-input">
          <label class="custom-control-label" for="semApoioPe1">capaz de permanecer em pé com segurança por 2 minutos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoioPe2" name="semApoioPe" class="custom-control-input">
          <label class="custom-control-label" for="semApoioPe2">capaz de permanecer em pé por 2 minutos com supervisão</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoioPe3" name="semApoioPe" class="custom-control-input">
          <label class="custom-control-label" for="semApoioPe3">capaz de permanecer em pé por 30 segundos sem apoio</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoioPe4" name="semApoioPe" class="custom-control-input">
          <label class="custom-control-label" for="semApoioPe4">necessita de várias tentativas para permanecer em pé por 30 segundos sem apoio </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoioPe5" name="semApoioPe" class="custom-control-input">
          <label class="custom-control-label" for="semApoioPe5">incapaz de permanecer em pé por 30 segundos sem apoio</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer sentado sem apoio nas costas, mas com os pés apoiados no chão ou num banquinho</h4>
        <p>Instrução: Por favor, fique sentado sem apoiar as costas com os braços cruzados por 2 minutos. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="permanecerSentado1" name="permanecerSentado" class="custom-control-input">
          <label class="custom-control-label" for="permanecerSentado1">capaz de permanecer sentado com segurança e com firmeza por 2 minutos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="permanecerSentado2" name="permanecerSentado" class="custom-control-input">
          <label class="custom-control-label" for="permanecerSentado2">capaz de permanecer sentado por 2 minutos sob supervisão</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="permanecerSentado3" name="permanecerSentado" class="custom-control-input">
          <label class="custom-control-label" for="permanecerSentado3">capaz de permanecer sentado por 30 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="permanecerSentado4" name="permanecerSentado" class="custom-control-input">
          <label class="custom-control-label" for="permanecerSentado4">capaz de permanecer sentado por 10 segundos</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="permanecerSentado5" name="permanecerSentado" class="custom-control-input">
          <label class="custom-control-label" for="permanecerSentado5">incapaz de permanecer sentado sem apoio durante 10 segundos </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Posição em pé para posição sentada</h4>
        <p>Instrução: Por favor, sente-se. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="senta1" name="senta" class="custom-control-input">
          <label class="custom-control-label" for="senta1">senta-se com segurança com uso mínimo das mãos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="senta2" name="senta" class="custom-control-input">
          <label class="custom-control-label" for="senta2">controla a descida utilizando as mãos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="senta3" name="senta" class="custom-control-input">
          <label class="custom-control-label" for="senta3">utiliza a parte posterior das pernas contra a cadeira para controlar a descida </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="senta4" name="senta" class="custom-control-input">
          <label class="custom-control-label" for="senta4">senta-se independentemente, mas tem descida sem controle </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="senta5" name="senta" class="custom-control-input">
          <label class="custom-control-label" for="senta5">necessita de ajuda para sentar-se</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Transferências</h4>
        <p>Instrução: Arrume as cadeiras perpendicularmente ou uma de frente para a outra para uma transferência em pivô.</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="cadeira1" name="cadeira" class="custom-control-input">
          <label class="custom-control-label" for="cadeira1">capaz de transferir-se com segurança com uso mínimo das mãos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="cadeira2" name="cadeira" class="custom-control-input">
          <label class="custom-control-label" for="cadeira2">capaz de transferir-se com segurança com o uso das mãos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="cadeira3" name="cadeira" class="custom-control-input">
          <label class="custom-control-label" for="cadeira3">capaz de transferir-se seguindo orientações verbais e/ou supervisão </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="cadeira4" name="cadeira" class="custom-control-input">
          <label class="custom-control-label" for="cadeira4">necessita de uma pessoa para ajudar </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="cadeira5" name="cadeira" class="custom-control-input">
          <label class="custom-control-label" for="cadeira5">necessita de duas pessoas para ajudar ou supervisionar para realizar a tarefa com segurança </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer em pé sem apoio com os olhos fechados </h4>
        <p>Instrução: Por favor, fique em pé e feche os olhos por 10 segundos. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="olhosFechados1" name="olhosFechados" class="custom-control-input">
          <label class="custom-control-label" for="olhosFechados1">capaz de permanecer em pé por 10 segundos com segurança </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="olhosFechados2" name="olhosFechados" class="custom-control-input">
          <label class="custom-control-label" for="olhosFechados2">capaz de permanecer em pé por 10 segundos com supervisão</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="olhosFechados3" name="olhosFechados" class="custom-control-input">
          <label class="custom-control-label" for="olhosFechados3">capaz de permanecer em pé por 3 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="olhosFechados4" name="olhosFechados" class="custom-control-input">
          <label class="custom-control-label" for="olhosFechados4">incapaz de permanecer com os olhos fechados durante 3 segundos, mas mantém-se em pé (0) necessita de ajuda para não cair </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer em pé sem apoio com os pés juntos </h4>
        <p>Instrução: Junte seus pés e fique em pé sem se apoiar. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="pesJuntos1" name="pesJuntos" class="custom-control-input">
          <label class="custom-control-label" for="pesJuntos1">capaz de posicionar os pés juntos independentemente e permanecer por 1 minuto com segurança </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="pesJuntos2" name="pesJuntos" class="custom-control-input">
          <label class="custom-control-label" for="pesJuntos2">capaz de posicionar os pés juntos independentemente e permanecer por 1 minuto com supervisão </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="pesJuntos3" name="pesJuntos" class="custom-control-input">
          <label class="custom-control-label" for="pesJuntos3">capaz de posicionar os pés juntos independentemente e permanecer por 30 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="pesJuntos4" name="pesJuntos" class="custom-control-input">
          <label class="custom-control-label" for="pesJuntos4">necessita de ajuda para posicionar-se, mas é capaz de permanecer com os pés juntos durante 15 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="pesJuntos5" name="pesJuntos" class="custom-control-input">
          <label class="custom-control-label" for="pesJuntos5">necessita de ajuda para posicionar-se e é incapaz de permanecer nessa posição por 15 segundos </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Alcançar a frente com o braço estendido permanecendo em pé</h4>
        <p>Instrução: Levante o braço a 90º. Estique os dedos e tente alcançar a frente o mais longe possível. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="alcancaFrente1" name="alcancaFrente" class="custom-control-input">
          <label class="custom-control-label" for="alcancaFrente1">pode avançar a frente >25 cm com segurança </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="alcancaFrente2" name="alcancaFrente" class="custom-control-input">
          <label class="custom-control-label" for="alcancaFrente2">pode avançar a frente >12,5 cm com segurança </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="alcancaFrente3" name="alcancaFrente" class="custom-control-input">
          <label class="custom-control-label" for="alcancaFrente3">pode avançar a frente >5 cm com segurança </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="alcancaFrente4" name="alcancaFrente" class="custom-control-input">
          <label class="custom-control-label" for="alcancaFrente4">pode avançar a frente, mas necessita de supervisão </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="alcancaFrente5" name="alcancaFrente" class="custom-control-input">
          <label class="custom-control-label" for="alcancaFrente5">perde o equilíbrio na tentativa, ou necessita de apoio externo </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Virar-se e olhar para trás por cima dos ombros direito e esquerdo enquanto permanece em pé</h4>
        <p>Instrução: Vire-se para olhar diretamente atrás de você por cima do seu ombro esquerdo sem tirar os pés do chão. Faça o mesmo por cima do ombro direito. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="virar1" name="virar" class="custom-control-input">
          <label class="custom-control-label" for="virar1">olha para trás de ambos os lados com uma boa distribuição do peso </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="virar2" name="virar" class="custom-control-input">
          <label class="custom-control-label" for="virar2">olha para trás somente de um lado, o lado contrário demonstra menor distribuição do peso </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="virar3" name="virar" class="custom-control-input">
          <label class="custom-control-label" for="virar3">vira somente para os lados, mas mantém o equilíbrio</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="virar4" name="virar" class="custom-control-input">
          <label class="custom-control-label" for="virar4">necessita de supervisão para virar </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="virar5" name="virar" class="custom-control-input">
          <label class="custom-control-label" for="virar5">necessita de ajuda para não perder o equilíbrio ou cair </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Girar 360 graus</h4>
        <p>Instrução: Gire-se completamente ao redor de si mesmo. Pausa. Gire-se completamente ao redor de si mesmo em sentido contrário. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="girar1" name="girar" class="custom-control-input">
          <label class="custom-control-label" for="girar1">capaz de girar 360 graus com segurança em 4 segundos ou menos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="girar2" name="girar" class="custom-control-input">
          <label class="custom-control-label" for="girar2">capaz de girar 360 graus com segurança somente para um lado em 4 segundos ou menos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="girar3" name="girar" class="custom-control-input">
          <label class="custom-control-label" for="girar3">capaz de girar 360 graus com segurança, mas lentamente </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="girar4" name="girar" class="custom-control-input">
          <label class="custom-control-label" for="girar4">necessita de supervisão próxima ou orientações verbais </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="girar5" name="girar" class="custom-control-input">
          <label class="custom-control-label" for="girar5">necessita de ajuda enquanto gira </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Posicionar os pés alternadamente no degrau ou banquinho enquanto permanece em pé sem apoio</h4>
        <p>Instrução: Toque cada pé alternadamente no degrau/banquinho. Continue até que cada pé tenha tocado o degrau/ banquinho quatro vezes. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="banquinho1" name="banquinho" class="custom-control-input">
          <label class="custom-control-label" for="banquinho1">capaz de permanecer em pé independentemente e com segurança, completando 8 movimentos em 20 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="banquinho2" name="banquinho" class="custom-control-input">
          <label class="custom-control-label" for="banquinho2">capaz de permanecer em pé independentemente e completar 8 movimentos em >20 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="banquinho3" name="banquinho" class="custom-control-input">
          <label class="custom-control-label" for="banquinho3">capaz de completar 4 movimentos sem ajuda </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="banquinho4" name="banquinho" class="custom-control-input">
          <label class="custom-control-label" for="banquinho4">capaz de completar >2 movimentos com o mínimo de ajuda </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="banquinho5" name="banquinho" class="custom-control-input">
          <label class="custom-control-label" for="banquinho5">incapaz de tentar, ou necessita de ajuda para não cair </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer em pé sem apoio com um pé à frente</h4>
        <p>Instrução: Coloque um pé diretamente à frente do outro na mesma linha, se você achar que não irá conseguir, coloque o pé um pouco mais à frente do outro pé e levemente para o lado. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoio1" name="semApoio" class="custom-control-input">
          <label class="custom-control-label" for="semApoio1">capaz de colocar um pé imediatamente à frente do outro, independentemente, e permanecer por 30 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoio2" name="semApoio" class="custom-control-input">
          <label class="custom-control-label" for="semApoio2">capaz de colocar um pé um pouco mais à frente do outro e levemente para o lado, independentemente, e permanecer por 30 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoio3" name="semApoio" class="custom-control-input">
          <label class="custom-control-label" for="semApoio3">capaz de dar um pequeno passo, independentemente, e permanecer por 30 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoio4" name="semApoio" class="custom-control-input">
          <label class="custom-control-label" for="semApoio4">necessita de ajuda para dar o passo, porém permanece por 15 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="semApoio5" name="semApoio" class="custom-control-input">
          <label class="custom-control-label" for="semApoio5">perde o equilíbrio ao tentar dar um passo ou ficar de pé </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-4">
        <h4>Permanecer em pé sobre uma perna</h4>
        <p>Instrução: Fique em pé sobre uma perna o máximo que você puder sem se segurar. </p>
        <div class="custom-control custom-radio">
          <input type="radio" id="umaPerna1" name="umaPerna" class="custom-control-input">
          <label class="custom-control-label" for="umaPerna1">capaz de levantar uma perna independentemente e permanecer por >10 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="umaPerna2" name="umaPerna" class="custom-control-input">
          <label class="custom-control-label" for="umaPerna2">capaz de levantar uma perna independentemente e permanecer por 5-10 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="umaPerna3" name="umaPerna" class="custom-control-input">
          <label class="custom-control-label" for="umaPerna3">capaz de levantar uma perna independentemente e permanecer por ≥ 3 segundos </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="umaPerna4" name="umaPerna" class="custom-control-input">
          <label class="custom-control-label" for="umaPerna4">tenta levantar uma perna, mas é incapaz de permanecer por 3 segundos, embora permaneça em pé independentemente </label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="umaPerna5" name="umaPerna" class="custom-control-input">
          <label class="custom-control-label" for="umaPerna5">incapaz de tentar, ou necessita de ajuda para não cair </label>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 mb-4">
        <div class="form-group text-center p-b-20">
          <div class="col-lg-12 p-0">
            <button class="btn btn-info btn-md btn-block text-uppercase waves-effect waves-light"
                    [routerLink]="['/patient']"
                    >Salvar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
