<div class="row">
  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" (click)="setPage('viewProfile')" role="tab">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" (click)="setPage('updateProfile')" role="tab">Dados pessoais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" (click)="setPage('sociodemographic')" role="tab">Sociodemográfico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" (click)="setPage('kinetic')" role="tab">Cinético-Funcional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" (click)="setPage('goniometry')" role="tab">Goniometria</a>
        </li>
      </ul>
      <app-patient-profile *ngIf="display('viewProfile')"></app-patient-profile>
      <app-update *ngIf="display('updateProfile')"></app-update>
      <app-sociodemographic *ngIf="display('sociodemographic')"></app-sociodemographic>
      <app-kinetic *ngIf="display('kinetic')"></app-kinetic>
      <app-goniometry *ngIf="display('goniometry')"></app-goniometry>
    </div>
  </div>
</div>
