<div class="row">
  <div class="col-lg-12 col-xlg-12 col-md-12 p-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 col-xs-6 b-r">
            <strong>Nome</strong>
            <br>
            <p class="text-muted">{{ this.user.displayName }}</p>
          </div>
          <div class="col-md-3 col-xs-6 b-r">
            <strong>CPF</strong>
            <br>
            <p class="text-muted">{{ this.user.cpf }}</p>
          </div>
          <div class="col-md-3 col-xs-6 b-r">
            <strong>Telefone</strong>
            <br>
            <p class="text-muted">{{ this.user.phone }}</p>
          </div>
          <div class="col-md-3 col-xs-6 b-r">
            <strong>E-mail</strong>
            <br>
            <p class="text-muted">{{ this.user.email }}</p>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button id="dropdownBasic1"class="btn btn-rounded btn-info" ngbDropdownToggle><i class="mdi mdi-plus"></i> Nova Avaliação</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 450px;">
            <button class="dropdown-item" (click)="setPage('sociodemographic')">Avaliação Sociodemográfica</button>
            <button class="dropdown-item" (click)="setPage('kinetic')">Avaliação Cinético-Funcional</button>
            <button class="dropdown-item" (click)="setPage('tineti')">TINETI</button>
            <button class="dropdown-item" (click)="setPage('walkTest')">Teste de caminhada</button>
            <button class="dropdown-item" (click)="setPage('bostonProtocol')">Protocolo de Boston</button>
            <button class="dropdown-item" (click)="setPage('balanceScale')">BERG - Escala de equilíbrio</button>
            <button class="dropdown-item" (click)="setPage('dash')">DASH</button>
            <button class="dropdown-item" (click)="setPage('womac')">Índice WOMAC - OSTEOARTRITE</button>
            <button class="dropdown-item" (click)="setPage('lefs')">LEFS</button>
            <button class="dropdown-item" (click)="setPage('iad')">IAD</button>
            <button class="dropdown-item" (click)="setPage('oswestry')">Oswestry</button>
            <button class="dropdown-item" (click)="setPage('fabq')">FABQ</button>
            <button class="dropdown-item" (click)="setPage('aofas')">AOFAS</button>
            <button class="dropdown-item" (click)="setPage('WHODAS')">WHODAS</button>
            <button class="dropdown-item" (click)="setPage('goniometry')">Goniometria</button>
            <button class="dropdown-item" (click)="setPage('muscleStrength')">Força Muscular</button>
            <button class="dropdown-item" (click)="setPage('ashworth')">Ashworth</button>
            <button class="dropdown-item" (click)="setPage('painScale')">Escala numérica da dor</button>
            <button class="dropdown-item" (click)="setPage('PiPe')">PI Pe</button>
            <button class="dropdown-item" (click)="setPage('sensorial')">Sensorial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card">
      <app-patient-profile *ngIf="display('viewProfile')"></app-patient-profile>
      <app-update *ngIf="display('updateProfile')"></app-update>
      <app-sociodemographic *ngIf="display('sociodemographic')"></app-sociodemographic>
      <app-kinetic *ngIf="display('kinetic')"></app-kinetic>
      <app-goniometry *ngIf="display('goniometry')"></app-goniometry>
      <app-muscle-strength *ngIf="display('muscleStrength')"></app-muscle-strength>
      <app-ashworth *ngIf="display('ashworth')"></app-ashworth>
      <app-pain-scale *ngIf="display('painScale')"></app-pain-scale>
      <app-pi-pe *ngIf="display('PiPe')"></app-pi-pe>
      <app-sensorial *ngIf="display('sensorial')"></app-sensorial>
      <app-tineti *ngIf="display('tineti')"></app-tineti>
      <app-walk-test *ngIf="display('walkTest')"></app-walk-test>
      <app-boston-protocol *ngIf="display('bostonProtocol')"></app-boston-protocol>
      <app-balance-scale *ngIf="display('balanceScale')"></app-balance-scale>
      <app-dash *ngIf="display('dash')"></app-dash>
      <app-aofas *ngIf="display('aofas')"></app-aofas>
      <app-fabq *ngIf="display('fabq')"></app-fabq>
      <app-womac *ngIf="display('womac')"></app-womac>
      <app-lefs *ngIf="display('lefs')"></app-lefs>
      <app-oswestry *ngIf="display('oswestry')"></app-oswestry>
      <app-iad *ngIf="display('iad')"></app-iad>
    </div>
  </div>
</div>
