<div class="login-register">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material"
      [formGroup]="registerForm" id="registerform">
        <h3 class="box-title m-b-20">Cadastrar Fisioterapeuta </h3>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="text"
                   formControlName="name"
                   placeholder="Nome">
          </div>
        </div>
           <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="text"
                   formControlName="cpf"
                   placeholder="CPF">
          </div>
        </div>
           <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="text"
                   formControlName="phone"
                   placeholder="Telefone">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"
                   type="email"
                   formControlName="email"
                   placeholder="E-mail">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"
                   type="password"
                   formControlName="password"
                   placeholder="Senha">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="password"
                   placeholder="Confirmação de senha">
          </div>
        </div>
        <div class="form-group text-center p-b-20">
          <div class="col-xs-12">
            <a [routerLink]="['/authentication/login']" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Cadastrar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>