<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Busca de Pacientes</h4>
        <form class="m-b-30 col-md-12 d-flex align-items-center" [formGroup]="form">
          <label class="col-md-3">
            Nome
            <input type='text' class="form-control" formControlName="nome" />
          </label>

          <label class="col-md-2">
            CPF
            <input type='text' class="form-control" formControlName="cpf" mask="000.000.000-00" />
          </label>

          <label class="col-md-2">
            Telefone
            <input type='text' class="form-control" formControlName="telefone" mask="(00)0 0000-0000" />
          </label>

          <label class="col-md-2">
            Email
            <input type='text' class="form-control" formControlName="email" />
          </label>
          <button class="btn btn-rounded btn-info" style="max-height: 50px;" (click)="updateFilter()">Buscar</button>
        </form>
        <ngx-datatable #table
                  class='material'
                  [columns]="columns"
                  [columnMode]="flex"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="auto"
                  [limit]="10"
                  [rows]="this.rows">
        </ngx-datatable>
      </div>
    </div>
